.pilotCard {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 257.6px;
    overflow: hidden;
}

.pilotCard:hover > .moreInfo {
    transition: all 0.2s;
    transform: translateY(-100%);
}

.nameGroup > p {
    margin: 0;
    text-transform: uppercase;
}

.firstName {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.lastName {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.content {
    position: relative;
}

.moreInfo {
    border-top: solid 1px;
    padding: 10px 0;
    font-weight: bold;
}

.moreInfo p {
    text-transform: capitalize;
    margin: 0;
}
